#!/usr/bin/env bash
# shellcheck shell=bash
# {{ template "scripts-library" }}

{{ if eq .chezmoi.osRelease.id "manjaro" -}}
set -eufo pipefail

info "Pamac installing packages"

# Enable AUR on pamac
sudo sed -Ei '/EnableAUR/s/^#//' /etc/pamac.conf

log 'Update PAMAC'
sudo pamac update --no-confirm

log 'Install packages with PAMAC'
sudo pamac install --no-confirm {{ .packages.manjaro | join " " }}
success "Pamac Successfully"
{{ else -}}
info "System not supported, pamac installation skipped"
{{ end -}}
