#!/usr/bin/env bash
# shellcheck shell=bash

# {{ template "scripts-library" }}

set -eufo pipefail

if ! command -v code &> /dev/null; then
  warning 'VSCode is not installed, skipping'
  exit 0
fi

info "Installing VSCode extensions"
CODE_EXTENSIONS=$(code --list-extensions)
TO_INSTALL=({{ .vscode.extensions | join " " }})

for extension in "${TO_INSTALL[@]}"; do
  if [[ ! "$CODE_EXTENSIONS" =~ "$extension" ]]; then
    code --force --install-extension "$extension"
  fi
done

success "VSCode Successfully"
