#!/bin/bash

# {{ template "scripts-library" }}

info "Install Mise hook to get completion"
sudo cp {{ .chezmoi.sourceDir }}/assets/mise-bin.hooks /usr/share/libalpm/hooks/mise-bin.hook

success "Mise hook completion installed"
